<div class="row">
  <div class="col">
    <img
      class="img-fluid"
      src="{{ recipe.imagePath }}"
      alt=""
      style="width: 300px"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>{{ recipe.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <div
      class="btn-group"
      role="group"
      aria-label="Button group with nested dropdown"
    >
      <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class="btn btn-secondary dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Manage Recipe
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="#" class="dropdown-item"
              >Add Ingridiands to Shoping list</a
            >
          </li>
          <li><a href="#" class="dropdown-item">Edit Recipe</a></li>
          <li><a href="#" class="dropdown-item">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>{{ recipe.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Ingredients</p>
  </div>
</div>
