<div class="row">
  <div class="col">
    <button class="btn btn-success">Add new</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col">
    <a href="" class="list-group-item clearfix" *ngFor="let recipe of recipes">
      <div class="text-left">
        <h4 class="list-group-item-dark">{{ recipe.name }}</h4>
        <p>{{ recipe.description }}</p>
        <img
          src="{{ recipe.imagePath }}"
          alt=""
          class="img-fluid float-right"
          style="height: 50px;"
        />
      </div>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
